@import "./src/common/var";
@import "./src/common/mixins";

@animation-css-prefix:~"@{css-prefix}animation";

.@{animation-css-prefix}-bounce-enter{
  &-active {
    animation: bounce @bounce-duration;
  }

  &-to {
  }
}

.@{animation-css-prefix}-bounce-leave{
  &-active {
    animation: bounce @bounce-duration reverse;
  }

  &-to {
  }
}

@-webkit-keyframes bounce{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounce{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.@{animation-css-prefix}-fade-in-enter{
  &-active {
    animation: fade-in @fade-duration;
  }

  &-to {
  }
}

.@{animation-css-prefix}-fade-in-leave{
  &-active {
    animation: fade-in @fade-duration reverse;
  }

  &-to {
  }
}

@keyframes fade-in{
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in{
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.@{animation-css-prefix}-fade-right-enter{
  &-active {
    animation: fade-right @fade-duration;
  }

  &-to {
  }
}

.@{animation-css-prefix}-fade-right-leave{
  &-active {
    animation: fade-right @fade-duration reverse;
  }

  &-to {
  }
}

@keyframes fade-right{
  0% {
    opacity: 0;
    transform: translate3d(100%,0,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fade-right{
  0% {
    opacity: 0;
    transform: translate3d(100%,0,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.@{animation-css-prefix}-fade-left-enter{
  &-active {
    animation: fade-left @fade-duration;
  }

  &-to {
  }
}

.@{animation-css-prefix}-fade-left-leave{
  &-active {
    animation: fade-left @fade-duration reverse;
  }

  &-to {
  }
}

@keyframes fade-left{
  0% {
    opacity: 0;
    transform: translate3d(-100%,0,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fade-left{
  0% {
    opacity: 0;
    transform: translate3d(-100%,0,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.@{animation-css-prefix}-fade-up-enter{
  &-active {
    animation: fade-up @fade-duration;
  }

  &-to {
  }
}

.@{animation-css-prefix}-fade-up-leave{
  &-active {
    animation: fade-up @fade-duration reverse;
  }

  &-to {
  }
}

@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translate3d(0,-100%,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translate3d(0,-100%,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.@{animation-css-prefix}-fade-down-enter{
  &-active {
    animation: fade-down @fade-duration;
  }

  &-to {
  }
}
.@{animation-css-prefix}-fade-down-leave{
  &-active {
    animation: fade-down @fade-duration reverse;
  }

  &-to {
  }
}

@keyframes fade-down{
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fade-down{
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}
