@import "./src/common/var";
@import "./src/common/mixins";

@layer-css-prefix:~"@{css-prefix}layer";

.@{layer-css-prefix}-mask{
  display:none;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:999;
  background-color:transparent;
  &-bg{
    background-color:tint(@layer-mask-bg,@layer-mask-shade-percent);
  }
}

.@{layer-css-prefix}-prompt{
  position:fixed;
  top:50%;
  left:50%;
  min-width:10px;
  z-index:@layer-z-index;
  background-color:@layer-bg;
  box-shadow:0 6px 18px 2px rgba(0,0,0,.2);
  color:@color-text-1;

  &.is-position-auto{
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
  }

  &-top{
    height:46px;
    line-height:46px;
    padding:0px 15px;
    background-color:@layer-title-bg;
    border-bottom:1px solid @layer-border-color;

    &.move{
      cursor:move;
    }

    &-title{
      .mixin-ellipsis;
      float:left;
    }
    &-close{
      float:right;
      cursor:pointer;

      &:hover{
        color:tint(@color-text-1,50%);
      }

      &:active{
        color:@color-text-1;
      }
    }
  }

  &-content{
    .mixin-scrollbar;
    .mixin-border-box;
    padding:15px;
    overflow-x:auto;
    overflow-y:auto;

    &.frame{
      padding:0;
      overflow:hidden;

      & iframe{
        .mixin-scrollbar;
      }
    }
  }

  &-bottom{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:10px 15px;
    text-align: right;
    background-color: @layer-bottom-bg;
    &.tac{
      text-align: center;
    }
    &.tal{
      text-align: left;
    }
  }
}

.@{layer-css-prefix}-animation{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

@-webkit-keyframes layer-bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes layer-bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes layer-bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7)
  }

  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }

  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes layer-bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
  }

  30% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
  }

  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}
