@import "./src/common/var";
@import "./src/common/mixins";

@radio-prefix-css: ~"@{css-prefix}radio";

.radio-style-setting(@background-color,@border-color){
  background-color: @background-color;
  border: 1px solid @border-color;
}

.@{radio-prefix-css}{
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;

  & + .@{radio-prefix-css}{
    margin-left: 30px;
  }

  &.is-checked{
    .@{radio-prefix-css}-input-inner{
      .radio-style-setting(@radio-checked-color,@radio-checked-color);
    }
  }

  &.is-disabled{
    .@{radio-prefix-css}-input-inner {
      cursor: not-allowed;
      .radio-style-setting(@radio-disabled-color,@radio-border-color);
      &::after{
        background-color: @radio-disabled-color;
      }
    }
    .@{radio-prefix-css}-label{
      cursor: not-allowed;
      color: @radio-disabled-font-color;
    }

    &.is-checked{
      .@{radio-prefix-css}-input-inner{
        .radio-style-setting(@radio-disabled-color,@radio-border-color);
        &::after{
          background-color: #cccccc;
        }
      }
    }
  }

  &-input{
    display: inline-block;
    white-space: nowrap;
    outline: none;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    &-inner{
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: relative;
      .radio-style-setting(@radio-bg-color,@radio-border-color);
      transition: all .15s ease-in;
      cursor: pointer;

      &::after{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        background-color:  @radio-bg-color;
      }
    }

    &-original{
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      margin: 0;
    }
  }


  &-label{
    display: inline-block;
    margin-left: 2px;
  }
}
