@import "./src/common/var.less";
@import "./src/common/mixins.less";

@scroll-bar-prefix-css: ~"@{css-prefix}scroll-bar";

@{scroll-bar-prefix-css}-wrap{
  overflow: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@{scroll-bar-prefix-css}{
  border-radius: @scroll-bar-border-radius;

  &.is-vertical{
    width: @scroll-bar-size;
  }

  &.is-horizontal{
    overflow-x: auto;
    overflow-y: hidden;
  }
}
