@import "./src/common/var.less";
@import "./src/common/mixins.less";

@table-css-prefix: ~"@{css-prefix}table";

.@{table-css-prefix} {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;

  &-border {
    border: @table-border-color;
  }

  & .cell {
    .mixin-border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;

    &.is-ellipsis {
      .mixin-ellipsis;
    }
  }

  &-column-selection {
    padding-left: 10px;
    padding-right: 10px;
  }

  &-header,
  &-content {

    & > thead {
      color: @table-title-color;
      font-weight: @table-title-weight;
    }

    & tr {
      background-color: @table-row-bg-default;

      &.row {
        &-primary {
          background-color: @table-row-bg-primary;
        }

        &-success {
          background-color: @table-row-bg-success;
        }

        &-warning {
          background-color: @table-row-bg-warning;
        }

        &-danger {
          background-color: @table-row-bg-danger;
        }

        &-disabled {
          background-color: @table-row-bg-disabled;
        }
      }

      & > td,
      & > th {
        padding: 12px 0;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        text-align: left;
      }

      & > th {
        background-color: @table-title-bg;
        &.is-leaf {
          border-bottom: @table-border-color;
        }
      }

      & > td {
        border-bottom: @table-border-color;
      }
    }

    &-align {
      &-center {
        .table-align(center);
      }

      &-right {
        .table-align(right);
      }
    }

    &-align-center {
      text-align: center;
    }

    &-align-right {
      text-align: right;
    }
  }

  &-header,
  &-content,
  &-footer {
    table-layout: fixed;
    border-collapse: collapse;
  }

  &-header {
    &-wrapper {
      overflow: hidden;
    }
  }

  &-content {
    &-wrapper {
      overflow: hidden;
    }
  }

  &-footer {
    &-wrapper {
      overflow: hidden;
    }
  }

  &-fixed {
    &-left {
      position: absolute;
      top: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: 3px -2px 5px 0px rgba(0, 0, 0, 0.14);

      &.is-fixed-shadow {
        box-shadow: none;
      }

      &-header {
        &-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 3;
        }
      }

      &-content {
        &-wrapper {
          position: absolute;
          left: 0;
          top: 37px;
          overflow: hidden;
          z-index: 3;
        }
      }
    }

    &-right {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: -3px -2px 5px 0px rgba(0, 0, 0, 0.14);
      z-index: 3;

      &.is-fixed-shadow {
        box-shadow: none;
      }

      &-header {
        &-wrapper {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 3;
        }
      }

      &-content {
        &-wrapper {
          position: absolute;
          right: 0;
          top: 37px;
          overflow: hidden;
          z-index: 3;
        }
      }
    }

    &-patch {
      position: absolute;
      top: -1px;
      right: 0;
      background-color: @table-title-bg;
      border-bottom: @table-border-color;
    }
  }

  &-scroll {
    &-x {
      //overflow-x: auto;

      & > .@{table-css-prefix}-content {
        &-wrapper {
          overflow-x: auto;
        }
      }
    }

    &-y {
      //overflow-y: auto;

      & > .@{table-css-prefix}-content {
        &-wrapper {
          overflow-y: auto;
        }
      }
    }
  }
}

.table-align(@align) {
  & > tr {
    & > td,
    & > th {
      text-align: @align;
    }
  }
}
