{
  "presets": [["es2015", {"loose": true, "debug": true}], ["env"]],
  "plugins": [
    ["transform-vue-jsx"],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "mixins": "./packages/src/mixins"
      }
    }]
  ]
}
