{
  "presets": [["es2015", {"loose": true, "debug": true}]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["weview"],
          "alias": {
            "mixins": "./packages/src/mixins"
          }
        }]
      ]
    }
  }
}
