@import "../common/mixins";
@import "../common/var";

.button-size(@padding;@font-size;@border-radius){
  padding: @padding;
  font-size:@font-size;
  border-radius:@border-radius;
}

.button-color(@color;@background;@border){
  background-color:@background;
  border-color:@border;
  color:@color;
}

/*plain-default*/
.mixin-plain-default(@color;@background;@border;@is-default) when (@is-default = 1){
  background-color:@background;
  border-color:@border;
  color:@color;

  &:hover{
    background-color:@color-white;
    border-color:@color-primary;
    color:@color-primary;
  }
  &:active{
    background-color:mix(@color-white,@color-primary,@button-active-shade-percent);
    border-color:mix(@color-white,@color-primary,@button-active-shade-percent);
    color:@color;
  }
}
/*plain*/
.mixin-plain-default(@color;@background;@border;@is-default) when (@is-default = 0){
  background-color:mix(@color,@background,90%);
  border-color:mix(@border,@background,60%);
  color:@background;

  &:hover{
    background-color:@background;
    border-color:@background;
    color:@color;
  }
  &:active{
    background-color:mix(@color-white,@background,@button-active-shade-percent);
    border-color:mix(@color-white,@background,@button-active-shade-percent);
    color:@color;
  }
}

.button-plain(@color;@background;@border;@is-default: 0){

  .mixin-plain-default(@color;@background;@border;@is-default);

  &.is-disabled{
    &,
    &:hover,
    &:active{
      background-color:mix(@color-white,@border,92%);
      border-color:mix(@color-white,@border,75%);
      color:mix(@color-white,@border,30%);
    }
  }
}

/*default*/
.mixin-default(@color;@background;@border;@is-default) when (@is-default = 1){
  background-color:@background;
  border-color:@border;
  color:@color;

  &:hover{
    background-color:tint(@color-primary,92%);
    border-color:@color-primary;
    color:@color-primary;
  }
  &:active{
    background-color:mix(@color-white,@color-primary,@button-active-shade-percent);
    border-color:mix(@color-white,@color-primary,@button-active-shade-percent);
    color:@color;
  }
}
/*not default*/
.mixin-default(@color;@background;@border;@is-default) when (@is-default = 0){
  background-color:@background;
  border-color:@border;
  color:@color;

  &:hover{
    background-color:mix(@color,@background,@button-hover-tint-percent);
    border-color:mix(@color,@border,@button-hover-tint-percent);
    color:@color;
  }
  &:active,
  &.is-active{
    background-color:mix(@background,@background,@button-active-shade-percent);
    border-color:mix(@border,@border,@button-active-shade-percent);
    color:@color;
  }
}

.button-variant(@color;@background;@border;@is-default: 0){
  .mixin-default(@color;@background;@border;@is-default);
  &.is-disabled{
    &,
    &:hover,
    &:active {
      cursor: not-allowed;
      background-color:mix(@color-white,@background,70%);
      border-color:mix(@color-white,@border,70%);
      color: tint(@color, 70%);
    }
  }

  &.is-plain{
    .button-plain(@color;@background;@border;@is-default);
  }
}

.btn() {
  .mixin-default;
  display: inline-block;
  line-height:1;
  white-space:nowrap;
  margin-bottom: 0;
  font-weight: @button-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  transition: color @transition-time linear, background-color @transition-time linear, border @transition-time linear, box-shadow @transition-time linear;
  .button-size(@button-default-padding;@button-default-font-size;@button-default-border-radius);

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &-large{
    .button-size(@button-large-padding; @button-large-font-size; @button-large-border-radius);
  }

  &-small{
    .button-size(@button-small-padding; @button-small-font-size; @button-small-border-radius);
  }

  &-mini{
    .button-size(@button-mini-padding; @button-mini-font-size; @button-mini-border-radius);
  }

  &.is-round{
    -webkit-border-radius:100px;
    border-radius:100px;
  }

  &.is-circle{
    -webkit-border-radius:50%;
    border-radius:50%;
    padding:8px;
  }
}

.btn-default(){
  .button-variant(@button-default-color;@button-default-fill;@button-default-border;);
}

.btn-primary(){
  .button-variant(@button-primary-color;@button-primary-fill;@button-primary-border);
}

.btn-success(){
  .button-variant(@button-success-color;@button-success-fill;@button-success-border);
}

.btn-info(){
  .button-variant(@button-info-color;@button-info-fill;@button-info-border);
}

.btn-warning(){
  .button-variant(@button-warning-color;@button-warning-fill;@button-warning-border);
}

.btn-danger(){
  .button-variant(@button-danger-color;@button-danger-fill;@button-danger-border);
}
