// Prefix
@css-prefix:we-;
@css-prefix-icon-font:we-icon;

/* Font */
@font-path:'./src/fonts';
@font-size-default:14px;
@font-size-small:13px;
@font-size-large:18px;
@font-weight-primary:500;

//Color
@page-font-color:#666666; //全局字体默认颜色
@title-one-color:#333333; //一级标题
@title-tow-color:#666666; //一级标题
@title-three-color:#aaaaaa; //一级标题
@default-color:#F3F3F3;
@primary-color:#2199ed;
@info-color:#2db7f5;
@success-color:#00a04d;
@warning-color:#FFB800;
@danger-color:#d9534f;
@link-color:@page-font-color;
@link-hover-color:@primary-color;
@link-active-color:@primary-color;
//@link-hover-color:tint(@link-color, 20%);
//@link-active-color:shade(@link-color, 5%);
@selected-color:fade(@primary-color, 90%);
@tooltip-color:#fff;
@subsidiary-color:#80848f;
@rate-star-color:#f5a623;

//Background color
@background-color-base:#f7f7f7;  // base

//Border color
@border-color-base:#e5e5e5;  // outside
@border-color-split:#dddddd;  // inside

// Button
@button-font-weight:normal;
@button-padding-default:7px 10px;
@button-padding-large:12px 20px;
@button-padding-small:10px 15px;
@button-padding-mini:4px 8px;
@button-font-size-default:14px;
@button-font-size-large:20px;
@button-font-size-small:16px;
@button-font-size-mini:12px;
@button-border-radius-default:4px;
@button-border-radius-small:6px;
@button-border-radius-large:15px;
@button-border-radius-mini:2px;

@button-disable-color:@title-three-color;
@button-disable-fill:@background-color-base;
@button-disable-border:@border-color-base;

@button-default-color:@title-tow-color;
@button-default-fill:@default-color;
@button-default-border:@border-color-base;

@button-primary-color:#fff;
@button-primary-fill:@primary-color;
@button-primary-border:@primary-color;

/*layer*/
@layer-mask-bg:#000000;
