/* Prefix */
@css-prefix:we-;
@css-prefix-icon-font:we-icon;

/* Layout */
@page-content-width:1140px;
@page-content-height:100%;
@page-header-width:@page-content-width;
@page-header-height:80px;
@page-header-opacity:50%;
@page-header-color:@color-white;
@page-logo-font-size:26px;
@page-logo-text-color:#458bca;

/* Font */
@font-path:'./src/fonts';
@font-size-default:14px;
@font-size-small:16px;
@font-size-large:18px;
@font-size-mini:13px;
@font-weight-primary:500;

/* Colors */
@color-white:#ffffff;
@color-black:#000000;
@color-default:#F3F3F3;

@color-text-1:#333333;
@color-text-2:#666666;
@color-text-3:#999999;
@color-text-4:#aaaaaa;

@color-primary:#2199ed;
@color-info:#2db7f5;
@color-success:#00a04d;
@color-warning:#FFB800;
@color-danger:#d9534f;

@color-primary-light:tint(@color-primary,80%);

/* Link */
@color-link:@color-text-2;
@color-link-hover:@color-primary;
@color-link-active:tint(@color-primary,30%);
@color-link-selected:tint(@color-primary,10%);

@selected-color:fade(@color-primary, 90%);
@tooltip-color:#fff;
@subsidiary-color:#80848f;
@rate-star-color:#f5a623;
@border-color:#e5e5e5e;

//Background color
@background-color-base:#f7f7f7;  // base

//Border color
@border-color-base:#e5e5e5;  // outside
@border-color-split:#dddddd;  // inside

/* Scrollbar */
@scrollbar-width:8px;
@scrollbar-height:8px;
@scrollbar-radius:4px;
@scrollbar-track-color:#f7f7f7;
@scrollbar-color:#e0e0e0;
@scrollbar-hover-color:tint(@scrollbar-color,30%);
@scrollbar-active-color:tint(@scrollbar-color,10%);

/* Menu */
@menu-group-title-color:@color-text-1;
@menu-item-title-color:@color-text-4;
@menu-item-content-color:@color-text-2;

/* nav */
@nav-height:40px;
@nva-bottom-width:3px;
@nav-link-color:#666666;
@nav-link-hover-color:#333333;

// Button
@button-font-weight:normal;
@button-padding-default:7px 10px;
@button-padding-large:12px 20px;
@button-padding-small:10px 15px;
@button-padding-mini:4px 8px;
@button-font-size-default:14px;
@button-font-size-large:20px;
@button-font-size-small:16px;
@button-font-size-mini:12px;
@button-border-radius-default:4px;
@button-border-radius-small:6px;
@button-border-radius-large:15px;
@button-border-radius-mini:2px;

//@button-disable-color:@title-three-color;
//@button-disable-fill:@background-color-base;
//@button-disable-border:@border-color-base;
//
//@button-default-color:@title-tow-color;
//@button-default-fill:@default-color;
//@button-default-border:@border-color-base;
//
//@button-primary-color:#fff;
//@button-primary-fill:@primary-color;
//@button-primary-border:@primary-color;

/*layer*/
@layer-mask-bg:#000000;
